---
# Currently supports 'from', 'to', and 'exclude'
mapping:
  - communications:
      from:
        - google_drive_rdrive_config_from
        - communications_old
      to:
        - google_drive_rdrive_config_to
        - communications
      exclude:
        - "Foo/**"
        - "Bar/**"

